

<li><%= @response['date'] %></li>

<br>


<h4>Base: United States Dollar </h4>

<div>
  <input id= "input_val" type="number" min="0.01" step="0.01" max="2500" value="0.00" autocomplete="off" />
</div>

<br>

<h4>To:Selected Currency </h4>

<div>
  <%= select_tag "rates", options_for_select(@response['rates']), :include_blank => true, :autocomplete => :off %>
</div>

<div id="total">Calculated Value</div>


<script>
  $('#rates, #input_val').on("change keyup paste", function() {
    $('#total').text( $('#rates').val() * $('#input_val').val() );
  });
</script>

<style>
body * {
  text-align: center;
}
select{
  padding:0 30px;
}
</style>



<div class= 'news_container'>
  <h2>Current News</h2>

    <div><% @articles.each_with_index do |article, index| %>
      <div class= 'article_container'>

        <div class="article_img">
          <%= link_to (image_tag article['urlToImage'], height: 88, width: 145 ), article['url'], target: :_blank %>
        </div>
        <div class="article_text">
          <strong><%= link_to (article['title']), article['url'], target: :_blank  %></strong>
          <li>
            <%= article['author'] %> |
              <%= time_ago_in_words(article['publishedAt']) %>
          </li>
          <li><%= article['description'] %></li>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>
